#Extensions we don't want to ignore
!.gitignore
!desync9X.txt
!desyncFilter.txt

# Modelsim
!*.vhd
!*.tcl
!*.mpf

# Quartus
!*.qpf
!*.bdf

# C++
!*.C
!*.cpp
!*.h
!make*
!Make*

#What we want to ignore:

*.txt
*~
*.bak
*.mpf
*.mti
_*

transcript

#Quartus not necessary files:
*.dat
*.qmsg
*.cdb
*.rdb
*.kpt
*.*info
*.rbd
*.ammdb
*.map*
*.ddb
*.cdb
*.nvd
*.sci
*.dpi
*.hdb
*.rpt
*.done
